doctype html
html
  head
    title #{title}
    link(rel="stylesheet", href="/public/style.css")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:300&display=swap" rel="stylesheet")
  body
    header
      div(class="container")
        img(src="/public/lunchdoki.png") 
        p Lunchdoki API for Slack   
    block content 